@charset "UTF-8";
/* CSS Document */

.espagne, .allemagne{fill:#E3C121;}
	.portugal{fill:#2C945C;}
	.suisse{fill:#E24627;}
	.italie, .uk, .luxembourg{fill:#EAD98F;}
	.france{fill:#F4E6AB;}
	
	.espagne:hover {
	fill:#D6B321;
	cursor:pointer;
	}
	
	.allemagne:hover {
	fill:#D6B321;
	cursor:pointer;
	}
	
	.portugal:hover {
	fill:#278750;
	cursor:pointer;
	}
	
	.suisse:hover {
	fill:#CC3921;
	cursor:pointer;
	}
	
	.italie:hover, .uk:hover, .luxembourg:hover{
	fill:#DBCA83;
	cursor:pointer;
	}
	
	.france:hover {
	fill:#E8DBA6;
	cursor:pointer;
	}


/* espagne*/

.espagnehover {
    display: none;
}

.espagne:hover + .espagnehover {
	display:block;
	}
